{% load static %}

<div class="col-md-2" style="">
    <div class="card h-100 text-center border border-1 shadow-lg">
        <div class="row p-2">
            <div class="col-md-2 my-auto">
                <span class='fs-3 mx-auto'> {{ application.application_id }} </span>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <span> {{ application.employer }} </span>
                </div>
                <div class="row">
                    <span> {{ application.position }} </span>
                </div>
            </div>
        </div>
    </div>
</div>