{% load static %}
{% load custom_filters %}


<div class="col-md-12">
    <div 
        class="application-card card h-100 text-center border border-1 shadow-lg"
        draggable="true"
        data-application-id="{{ application.id }}"
    >
        <div class="row p-2">
            <div class="col-md-2 mx-auto my-auto">
                <span class='fs-6'>
                    {{ application.application_id }}
                    {% if application.employer.website_url %}
                        <img src="https://logo.uplead.com/{{ application.employer.website_url|remove_https }}" alt="" height='24px' />

                    {% endif %}
                </span>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <span>
                        {{ application.employer }}
                    </span>
                </div>
                <div class="row">
                    <span>
                        {{ application.position }}
                    </span>
                </div>
            </div>
            <div class="col-md-3 mx-auto my-auto">
                <span class='fs-6'>
                    {{ application.application_date }}
                </span>
            </div>
        </div>
    </div>
</div>