{% load static %}
{% load custom_filters %}

<div class="card shadow-lg mt-2">
    <span class="h2 card-title card-header text-center text-white">
        <span> Applications </span>
    </span>
    <span class="card-title card-header text-center">
        <div class="row">
            <div class="col-md">
                <span class="text-white">No Response:</span><span> {{ num_no_response }} </span>
            </div>
            <div class="col-md">
                <span class="text-white">Rejected:</span><span> {{ num_rejected }} </span>
            </div>
            <div class="col-md">
                <span class="text-white">Interview:</span><span> {{ num_interview }} </span>
            </div>
            <div class="col-md">
                <span class="text-white">Withdrawn:</span><span> {{ num_withdrawn }} </span>
            </div>
            <div class="col-md">
                <span class="text-white">Offered:</span><span> {{ num_offered }} </span>
            </div>
            <div class="col-md">
                <span class="text-white">Accepted:</span><span> {{ num_accepted }} </span>
            </div>
        </div>
    </span>

    <div class="row">
        <div class="col-md-4">
            <div class="d-flex">
                <select class="form-select width-25-perc" id="status_filter">
                    <option value=""> Choose Status </option>
                    {% for status in statuses %}
                        <option value="{{ status.name }}">{{ status.name }}</option>
                    {% endfor %}
                </select>
                <form class="width-75-perc" role="search" id="search_filter_form">
                    <input class="form-control" id="search_filter" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
            <div class="application-scrollbar-container  vertical-scrollable-hidden">
                {% if applications %}
                    {% for application in applications %}
                        {% include 'components/application_card_button.html' %}
                    {% endfor %}
                {% endif %} 
            </div>
        </div>
        <div class="col-md-8 pe-5">
            <div class="row my-3">
                <div class="col-md-6 d-flex align-items-flex-end">
                    <img class="my-1" id="viewer_employer_url_logo" height="100px" alt="no_logo" style="max-width: 248px;"/>
                    <div class="ms-2 d-flex flex-column align-self-end">
                        <span id="viewer_employer"> Loading... </span>
                        <span><a id="viewer_employer_url"> Loading... </a></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex flex-column">
                                <div>
                                    <span class="h6"> Source: </span><span id="viewer_source"> Loading... </span>
                                </div>
                                <div>
                                    <span class="h6"> Applied On: </span><span id="viewer_application_date"> Loading... </span>
                                </div>
                                <div class="d-flex">
                                    <span class="h6"> Status: </span>
                                    <select class="form-select" id="status_id" name="status_type" style="width: 25vh;">
                                        <option value="" id="viewer_status"> Loading... </option>
                                        {% for status in statuses %}
                                            <option value="{{ status.name }}">{{ status.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="viewer_response_time_container" style="display: none;">
                                    <span class="h6"> Responded On: </span><span id="viewer_response_time"> Loading... </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex flex-column">
                                <div>
                                    <span class="h6"> Location: </span><span id="viewer_location"> Loading... </span>
                                </div>
                                <div>
                                    <span class="h6"> Employment Type: </span><span id="viewer_employment_type"> Loading... </span>
                                </div>
                                <div>
                                    <span class="h6"> Role: </span><span id="viewer_role"> Loading... </span>
                                </div>
                                <div>
                                    <span class="h6"> Pay: </span><span id="viewer_pay"> Loading... </span>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-column">
                        <span class="h3"> Description: </span>
                        <span class="max-height-50vh min-height-50vh vertical-scrollable-hidden" id="viewer_application_description"> Loading... </span>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-12">
                    <div class="d-flex flex-column">
                        <span class="h3"> Notes: </span>
                        <span id="viewer_notes"> Loading... </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 align-items-bottom">
                    <button class="width-100-perc btn btn-secondary" id="viewer_update_status_button" type="button">
                        Update Status
                    </button>
                </div>
            </div>



        </div>
    </div>
</div>
