{% load static %}
{% load custom_filters %}

<div class="col-md-12">
    <button class="application-card-button btn w-100 border rounded-0 border-1 shadow-lg" 
            type="button" 
            data-application-id="{{ application.application_id }}" 
            data-status="{{ application.status.name }}"
            data-employer="{{ application.employer.name }}"
            data-location="{{ application.location.city }}, {{ application.location.state }}"
            data-position="{{ application.position }}"
    >
        <div class="row p-2">
            <div class="col-md-2 mx-auto my-auto">
                <span class='fs-6'>
                    {% if application.employer.website_url %}
                        <img src="https://logo.uplead.com/{{ application.employer.website_url|remove_https }}"
                             onerror="this.onerror=null; this.src='{% static 'icons/no_logo.png' %}'; this.classList.add('fallback-image');"
                             height='36px' style="max-width: 124px" />
                    {% endif %}
                </span>
            </div> 
            <div class="col-md-7">
                <div class="row">
                    <span>
                        {{ application.employer.name }}
                        <span
                            id="glassdoor_review_score-{{ application.employer.id }}"
                            data-employer-name="{{ application.employer.name }}" 
                            data-employer-id="{{ application.employer.glassdoor_id }}"
                            data-id="{{ application.employer.id }}"
                        >
                        </span>
                    </span>

                </div>
                <div class="row">
                    <span>
                        {{ application.position }}
                    </span>
                </div>
            </div>
            <div class="col-md-3 mx-auto my-auto">
                <div class="d-flex flex-column">
                    <span class='fs-6'>
                        {{ application.application_date }}
                    </span>
                    <span class='fs-6'>
                        {{ application.status.name }}
                    </span>
                </div>
            </div>
        </div>
    </button>
</div>