<div class="card">
    <h2 class="card-title card-header text-center text-white">
        Misc. Stats 
    </h2>

    <div class="">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Longest Application Streak: {{ miscstats_data.applying_streak }} days!
            </li>
            <li class="list-group-item">
                Longest Not Application Streak: {{ miscstats_data.not_applying_streak }} days!
            </li>
            <li class="list-group-item">
                Applied the most on {{ miscstats_data.most_applications_day }} with {{ miscstats_data.most_applications_in_day }} applications!
            </li>
            <li class="list-group-item">
                Applied the most in {{  miscstats_data.most_applications_month }} with {{ miscstats_data.most_applications_in_month }} applications!
            </li>
            <li class="list-group-item">
                Most applied to company {{ miscstats_data.most_applied_company.0 }} with {{  miscstats_data.num_applications_company }} applications!
            </li>
        </ul>
    </div>
</div>