{% load static %}

<nav class="navbar navbar-expand-lg fixed-top color-black">
    <div class="container-fluid">
        <a class="navbar-brand text-white">Application Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-white" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="/applications">Applications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="/chart">Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="/admin">Admin</a>
                </li>
            </ul>

            <div class="navbar-nav mx-auto row">
                <div class="col-auto">
                    <span class="h6">Avg Resp Time:</span>
                    <span id="avg_resp_time">{{ responsetime }} Days</span>
                </div>
                <div class="col-auto">
                    <span class="h6">Response Rate:</span>
                    <span id="response_rate">{{ responserate }}%</span>
                </div>
                <div class="col-auto">
                    <span class="h6">Rejection Rate:</span>
                    <span id="rejection_rate">{{ rejectionrate }}%</span>
                </div>
                <div class="col-auto">
                    <span class="h6">Interview Rate:</span>
                    <span id="interview_rate">{{ interviewrate }}%</span>
                </div>
                <div class="col-auto">
                    <span class="h6">Withdrawn Rate:</span>
                    <span id="withdrawn_rate">{{ withdrawnrate }}%</span>
                </div>
                <div class="col-auto">
                    <span class="h6">Offered Rate:</span>
                    <span id="offered_rate">{{ offeredrate }}%</span>
                </div>
                <div class="col-auto">
                    <span class="h6">Accepted Rate:</span>
                    <span id="accepted_rate">{{ acceptedrate }}%</span>
                </div>
                <div class="col-auto">
                    <span class="h6">Avg Pay:</span>
                    <span id="avg_pay">${{ avgpay }}</span>
                </div>
            </div>

        </div>

        <div 
            class="{% if appliedtoday %} text-success {% else %} text-danger {% endif %}"
        >
            <span class='fs-4 fw-bold'>
                {{ applicationcount }}
            </span>
        </div>

    </div>
</nav>