<div class="submissioncard card bg-body rounded-4 border border-0 shadow-lg text-bg-dark">
    <div class="card-header text-center">
      Application Submission
    </div>
    <form class="applicationForm text-body p-3" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        {% comment %} left inputs {% endcomment %}
        <div class="col-md-6">
          <div class="col-md-12 mb-3">
            <label for="position" class="form-label">Position</label>
            <input class="form-control" id="position_id" name="position">
          </div>
          <div class="col-md-12 mb-3">
            <label for="employer" class="form-label">Employer</label>
            <input list="employer_list" class="form-control" id="employer_id" name="employer" placeholder="Select or Create Employer">
            <datalist id="employer_list">
              {% for choice in employer_choices %}
                  <option value="{{ choice }}">{{ choice }}</option>
              {% endfor %}
            </datalist>
          </div>
          <div class="col-md-12 mb-3">
            <label class="form-label">Employer Website URL</label>
            <input class="form-control" id="websiteurl_id" name="websiteurl">
          </div>
          <div class="col-md-12 mb-3">
            <label class="form-label">Glassdoor Company ID</label>
            <input class="form-control" id="glassdoorid_id" name="glassdoorid">
          </div>
          <div class="col-md-12 mb-3">
            <label for="employment_type" class="form-label">Employment Type</label>
            <input list="employment_type_list" class="form-control" id="employment_type_id" name="employment_type" placeholder="Select Employment Type">
            <datalist id="employment_type_list">
              {% for choice in employment_choices %}
                  <option value="{{ choice.0 }}">{{ choice.1 }}</option>
              {% endfor %}
            </datalist>
          </div>
        </div>
        {% comment %} right inputs {% endcomment %}
        <div class="col-md-6">
          <div class="col-md-12 mb-3">
            <label for="" class="form-label">Pay</label>
            <input class="form-control" type="number" id="pay_id" name="pay">
          </div>
          <div class="col-md-12 mb-3">
            <label for="location" class="form-label">Location</label>
            <input list="location_list" class="form-control" id="location_id" name="location" placeholder="Select or Create Location">
            <datalist id="location_list">
              {% for choice in location_choices %}
                  {% if choice.state %}
                    <option value="{{ choice.city }}, {{choice.state}}">{{ choice.city }}, {{ choice.state }}</option>
                  {% else %}
                    <option value="{{ choice.city }}">{{ choice.city }}</option>
                  {% endif %}
              {% endfor %}
            </datalist>
          </div>
          <div class="col-md-12 mb-3">
            <label for="source" class="form-label">Source</label>
            <input list="source_list" class="form-control" id="source_id" name="source" placeholder="Select or Create Source">
            <datalist id="source_list">
              {% for choice in source_choices %}
                  <option value="{{ choice }}">{{ choice }}</option>
              {% endfor %}
            </datalist>
          </div>
          <div class="col-md-12 mb-3">
            <label for="application_date" class="form-label">Application Date</label>
            <input class="form-control" type="date" id="application_date" name="application_date">
        </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description_id" name="description"></textarea>
          </div>
          <div class="mb-3">
            <label for="notes" class="form-label">Notes</label>
            <textarea class="form-control" id="notes_id" name="notes"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-secondary" type="button">Submit</button>
            </div>
        </div>
      </div>
    </form>
  </div>