{% extends 'base.html' %}
{% load static %}

{% block js %}
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/flow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Micro.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/plugins/exporting.js"></script>
    <script src="{% static 'js/sankeychart.js' %}"></script>
    {% include 'components/data_chart.html' %}
{% endblock %}


{% block content %}

<div class="container-fluid bg-secondary-subtle p-3 ">
    <div class="row g-2">

        {% comment %} Sankey chart {% endcomment %}
        <div class="card">
            <div class="col-md-12">
                <div id="chartdiv">
                </div>
                <div id="exportdiv">
                </div>
            </div>
        </div>


    </div>




</div>

{% endblock %}