{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid mx-auto p-3"> 
        <div class="row align-items-center mb-4 g-3">  
            <div class="col-md-auto">
                <div class="card color-black text-white line-dark-gray" style="min-width: 14rem; height: 120px;">
                    <div class="card-body d-flex flex-column h-100">
                        <h4 class="text-sm d-flex justify-content-between align-items-center mb-auto">
                            <span>Total Applications</span>
                            <img src="{% static 'icons/trendingup.svg' %}" alt="Trending Up" width="24" style="margin-right: -8px;">
                        </h4>
                        <p class="mb-0 mt-auto fs-5">{{ total_applications }}</p>
                    </div>   
                </div>
            </div>
            <div class="col-md-auto"> 
                <div class="card color-black text-white line-dark-gray" style="min-width: 14rem; height: 120px;">
                    <div class="card-body d-flex flex-column h-100">
                        <h4 class="text-sm d-flex justify-content-between align-items-center mb-auto">
                            <span>Applied</span>
                        </h4>
                        <p class="mb-0 mt-auto fs-5">{{ total_applied }}</p>
                    </div>   
                </div>
            </div>
            <div class="col-md-auto"> 
                <div class="card color-black text-white line-dark-gray" style="min-width: 14rem; height: 120px;">
                    <div class="card-body d-flex flex-column h-100">
                        <h4 class="text-sm d-flex justify-content-between align-items-center mb-auto">
                            <span>Interviews</span>
                        </h4>
                        <p class="mb-0 mt-auto fs-5">{{ total_interviews }}</p>
                    </div>   
                </div>
            </div>
            <div class="col-md-auto"> 
                <div class="card color-black text-white line-dark-gray" style="min-width: 14rem; height: 120px;">
                    <div class="card-body d-flex flex-column h-100">
                        <h4 class="text-sm d-flex justify-content-between align-items-center mb-auto">
                            <span>Offers</span>
                        </h4>
                        <p class="mb-0 mt-auto fs-5">{{ total_offered }}</p>
                    </div>   
                </div>
            </div>
            <div class="col-md-auto"> 
                <div class="card color-black text-white line-dark-gray" style="min-width: 14rem; height: 120px;">
                    <div class="card-body d-flex flex-column h-100">
                        <h4 class="text-sm d-flex justify-content-between align-items-center mb-auto">
                            <span>Rejected</span>
                        </h4>
                        <p class="mb-0 mt-auto fs-5">{{ total_rejected }}</p>
                    </div>   
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/applicationsubmission.js' %}"></script>
{% endblock %}