{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        {% comment %} Submission Form {% endcomment %}
        <div class="col-md-6 d-flex align-items-center justify-content-center vh-100">
            {% include 'components/submissionform.html' %}
        </div>
        {% comment %} Application Image Carousel {% endcomment %}
        <div class="col-md-6">
            {% include 'components/applicationcarousel.html' %}
        </div>
    </div>
</div>


<script src="{% static 'js/applicationsubmission.js' %}"></script>
{% endblock %}