{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 d-flex align-items-center vh-100">
            <div class="row align-items-center">
                <div class="col-md-12 mb-3" style="width: 70%;">
                    {% include 'components/applicationcarousel.html' %}
                </div>
                <div class="col-md-12" style="width: 70%;">
                    {% include 'components/submissionform.html' %}
                </div>
            </div>
        </div>

        <div class="col-md-7">
        </div>
    </div>
</div>


<script src="{% static 'js/applicationsubmission.js' %}"></script>
{% endblock %}