:root {
    --white: #fff;
}

body { 
    padding-top: 56px;
}

.text-white {
    color: var(--white);
}

.navbarheightfix {
    height: calc(100vh - 56px);
}

/* navbar.html */

.rate-font {
    font-size: 70%;
}

/* navbar.html end */

/* home.html end */
#logo-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo {
    width: 5%;
    position: absolute;
    animation: fall 15s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(100vh);
    }
}
/* home.html end */

/* chart.html */

#sankeychart {
    width: 100%;
    /* height: calc(100vh - 89px); */
    height: 40vh;
}

#exportdiv {
    margin: auto;
}

#heatmap {
    width: 100%;
    height: 40vh;
}

#map {
    width: 100%;
    height: 40vh;
}

a.am5exporting-icon,
.am5exporting-list {
    background: #C2FFE2;
}

a.am5exporting-icon:hover,
.am5exporting-menu-open a.am5exporting-icon,
.am5exporting-item a:hover {
    background: #85FFC4;
}
  
.vertical-scrollable-hidden {
    overflow-y: auto; 
    max-height: 400px;

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
    /* Hide scrollbar for Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Hide scrollbar for other browsers */
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    
    /* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

/* chart.html end */



