:root {
    --white: #fff;
}

body { 
    padding-top: 56px;
}

.navbarheightfix {
    height: calc(100vh - 56px);
}

/* navbar.html */

.rate-font {
    font-size: 70%;
}

/* navbar.html end */

/* chart.html */

#chartdiv {
    width: 100%;
    /* height: calc(100vh - 89px); */
    height: 40vh;
}

#exportdiv {
    margin: auto;
}

a.am5exporting-icon,
.am5exporting-list {
    background: #C2FFE2;
}

a.am5exporting-icon:hover,
.am5exporting-menu-open a.am5exporting-icon,
.am5exporting-item a:hover {
    background: #85FFC4;
}

/* chart.html end */



